Code/.Rhistory
Code/0_a_prep_script.R
Slides/0_Definitions.Rmd
Slides/.Rhistory
.gitignore
Code/Session_2/*
Code/Session_3/*
Code/Session_4/*
Code/Session_5/*
Code/Session_6/*
Code/Session_6/glm_explorer/*
Code/Session_7/*
Code/Session_8/*
Code/Session_9/*
Code/.Rapp.history
Data/.Rapp.history
# exceptions
!Code/Session_2_exerc.R
!Code/Session_2_exerc.R
!Code/Session_2/Session_2_extract.R
!Code/Session_3/Session_3_extract.R
!Code/Session_4/Session_4_extr.R
!Code/Session_5/Session_5_extr.R
!Code/Session_6/Session_6_extr.R
!Code/Session_6/glm_explorer/exercises.md
!Code/Session_6/glm_explorer/functions.R
!Code/Session_6/glm_explorer/introduction.md
!Code/Session_6/glm_explorer/README
!Code/Session_6/glm_explorer/server.R
!Code/Session_6/glm_explorer/shiny.Rproj
!Code/Session_6/glm_explorer/ui.R
!Code/Session_7/Session_7_extr.R
!Code/Session_7/data_EC.csv
!Code/Session_8/Session_8_extr.R
!Code/Session_9/Session_9_extr.R
.DS_Store
